@using System.Web.Mvc.Html
@using StudentLeaf.Models
@model List<StudentLeaf.Models.Student>
@{
    ViewBag.Title = "Index";
}


<h2>Students</h2>

<div class="btn btn-primary">@Html.ActionLink("New Student", "CreateNewStudent", "Student", new { @style = "color:white; font-weight:bold;" })</div>


<div class="form-horizontal">
    <table id="studentTable" class="table table-hover">
        <thead>
        <tr>
            <th> Student Name </th>
            <th> Lesson Plan </th>
            <th> Edit/Delete </th>
        </tr>
        </thead>
    </table>
</div>


<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Student/List",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);


                $.each(data,
                    function(index, context) {
                        $('#studentTable').append('<tr><td>' +
                            context.Name +
                            '</td><td>' +

                            '<div class="dropdown">' +
                            '<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Lesson Plan' +
                            '<span class="caret"></span></button>' +
                            '<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">' +
                            displayActiveLesson(context.ActiveLessons) +
                            '</ul> </div>' +


                            '</td><td>' +
                            'edit/del' +
                            '</td></tr>');
                    });

                function displayActiveLesson(data) {
                    var lessonPlan = '';
                    $.each(data,
                        function (index, context) {
                            lessonPlan += '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' +
                                context.LessonPlan +
                                '</a></li>';
                        });
                    return lessonPlan;
                }
            }
        });


        

    })

    
</script>